#smallest-page-container {
    min-height: 750px;
}

.search-result-container.err{
    padding-top: 300px;
}

.search-result-container.result{
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    margin-right: 5%;
}

#filter-section {
    width: 20%;
    margin-top: 10px;
}

#search-result-section {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
}